.footer{
    background: #404149;
    margin-top: 160px;
    padding: 30px 0;
    color: #fff;
    font-family: "Open Sans", sans-serif;

}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__company, .footer__by{
    font-weight: normal;
    font-size: 16px;
}